#--------OAuth2.0 PROD Client Configuration---------
#scope=GEHC_eOM_API_V3_API
#grant_type=client_credentials
#client_id=GEHC_MyOrders_Client
#client_secret=WqeP3J10pr2ay8RlcJHLgVMMw59nZn99KhRRi9opyboAA8AUpuahLET6aqIskE48
#access_token=
#authentication_server_url=https://fssfed.ge.com/fss/as/token.oauth2
#resource_server_url=https://api.ge.com/healthcare/api/glprodEom/v3/orders/
#api_url=https://api.ge.com/healthcare/api/glprodEom/v3/orders/
#------------------------------------------------


#--------OAuth2.0 STAGE Client Configuration---------
scope=GEHC_eOM_V3_API
grant_type=client_credentials
client_id=GEHC_MyOrdersSTAGE_Client
client_secret=ezDDHQfui3YvJvuYNov8YG7Q7WleYIldOifW4kgyrV6xJvIv2U8DKxewKCn8jLq4
access_token=
authentication_server_url=https://fssfed.stage.ge.com/fss/as/token.oauth2
#resource_server_url=https://api.ge.com/healthcare/api/glprodEom/v3/orders/
api_url=https://stage.api.ge.com/healthcare/api/glprodEom/v3/orders/
#------------------------------------------------





















